
    <footer>
        <p class="made-by">Made By: Chinmay H</p>
        <div class="social-container">
            <h4 class="social-heading">My Socials</h4>
            <div class="socials">
                <a href="#"><img src="/svg/instagram.svg" alt="Instagram"></a>
                <a href="#"><img src="/svg/linkedin.svg" alt="LinkedIn"></a>
                <a href="#"><img src="/svg/twitter.svg" alt="Twitter"></a>
            </div>
        </div>
        <p class="copyright">&copy;BlogSpace &copy;ChinmayH</p>

    </footer>
</body>
</html>